body {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.el-button {

  color:#16325C !important;
}

.el-select-dropdown__item {

  color:#54698D !important;
}

.el-input__inner {

  color:#54698D !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {

  background-color: #445577 !important;
}

.el-breadcrumb__inner a {

  color: #061C3F !important;
}
